<template>
    <div class="container">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                    <form @submit.prevent="crear" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6 col-lg-12 mb-3">
                                <div class="form-group">
                                    <label class="required-field" for="firstName">Nombre</label>
                                    <input type="text" class="form-control" v-model="author.name" id="name" name="name"  placeholder="Nombre" required/>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mb-3">
                                <div class="form-group">
                                    <label class="required-field" for="firstName">Apellido</label>
                                    <input type="text" class="form-control" v-model="author.lastname" id="lastname" name="lastname"  placeholder="Apellido" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-12 mb-3">
                                <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'createpost',
        data(){
            return{
                author:{}
            }
        },
        methods: {
            crear(){
                this.axios.post('http://localhost:8000/api/author', this.author)
                    .then(response => {
                        console.log(response.data)
                        this.$router.push({name:'indexauthor'})
                    }).catch(error => {
                        console.log(error)
                    })
            },
        }

    }
</script>