<template>
    <div class="container-fluid">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-12 contact-info__wrapper gradient-brand-color p-5 order-lg-2" style="width: 100%;">
                    <router-link :to="{name: 'createauthor'}" class="btn btn-outline-success">Agregar</router-link>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="author in authors" :key="author.id">
                                <td>{{ author.name }}</td>
                                <td>{{ author.lastname }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'indexauthor',
        data(){
            return{
                authors:{}
            }
        },
       mounted(){
        this.list()
       },
        methods: {
            list(){
                this.axios.get('http://localhost:8000/api/author')
                    .then(response => {
                        this.authors = response.data
                    }).catch(error => {
                        console.log(error)
                    })
            },
        },
    }
</script>