<template>
  <div class="container">
    <br />
    <div class="contact__wrapper shadow-lg mt-n9">
      <div class="row no-gutters">
        <div
          class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2"
        >
          <h3 class="color--white mb-5">&nbsp;</h3>
          <figure>
            <img
              width="200"
              height="200"
              alt="Previsualiza imagen"
              v-bind:src="image"
            />
          </figure>
        </div>

        <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
          <form @submit.prevent="crear" enctype="multipart/form-data">
            <div class="row">
              <div class="col-sm-6 col-lg-12 mb-3">
                <div class="form-group">
                  <label class="required-field" for="firstName">Titulo</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.title"
                    id="firstName"
                    name="title"
                    placeholder="Titulo"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12 col-lg-12 mb-3">
                <div class="form-group">
                  <label class="required-field" for="message">Descripcion</label
                  ><textarea
                    class="form-control"
                    v-model="post.description"
                    id="message"
                    name="message"
                    rows="4"
                    placeholder="Escribe el contenido"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mb-3">
                <div class="form-group">
                  <label class="required-field" for="firstName">Imagen</label>
                  <input
                    type="file"
                    class="form-control"
                    @change="getimage"
                    id="image"
                    name="image"
                    placeholder="Imagen"
                    accept="image/*"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mb-3">
                <div class="form-group">
                  <label class="required-field" for="firstName">Autor</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    v-model="post.author_id"
                    required
                  >
                    <option
                      v-for="author in authors"
                      :key="author.id"
                      v-bind:value="author.id"
                    >
                      {{ author.name }} {{ author.lastname }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12 mb-3">
                <button type="submit" name="submit" class="btn btn-primary">
                  Enviar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "createpost",
  data() {
    return {
      previewimage: "",
      post: {
        title: "",
        description: "",
        image: "",
        author_id: "",
      },
      authors: {},
    };
  },
  mounted() {
    this.getauthor();
  },
  methods: {
    getimage(e) {
      var img = e.target.files[0];
      this.post.image = img;
      this.loadimage(img);
    },
    loadimage(img) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.previewimage = e.target.result;
      };
      reader.readAsDataURL(img);
    },
    crear() {
      // console.log(this.post)
      let formpost = new FormData();
      for (let key in this.post) {
        formpost.append(key, this.post[key]);
      }
      this.axios
        .post("http://localhost:8000/api/post", formpost)
        .then((response) => {
          Swal.fire({
            icon: 'success',
            title: 'Genial!!',
            text: `${response.data.msg}`,
          })
          this.$router.push({ name: "indexpost" });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getauthor() {
      this.axios
        .get("http://localhost:8000/api/author/")
        .then((response) => {
          this.authors = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  computed: {
    image() {
      return this.previewimage;
    },
  },
};
</script>
