<template>
    <div class="card shadow-lg">
        <div class="card-body ">
            <div class="row">
                <div class="col-lg-12 p-5 " style="width: 100%;">
                    <router-link to="/admin/crear" class="btn btn-outline-success">Agregar</router-link>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="post in posts" :key="post.id" scope="row">
                                <td>{{ post.title }}</td>
                                <td>{{ post.created_at }}</td>
                                <td>
                                    <router-link :to="{ name: 'editpost', params: {id:post.id } }" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i>Editar</router-link>
                                    <button @click="deletepost(post.id)" class="btn btn-outline-danger"><i class="fa-solid fa-pen-to-square">Eliminar</i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'indexpost',
        data(){
            return{
                posts:{}
            }
        },
       mounted(){
        this.list()
       },
        methods: {
            list(){
                this.axios.get('http://localhost:8000/api/post')
                    .then(response => {
                        this.posts = response.data.data
                    }).catch(error => {
                        console.log(error)
                    })
            },
            deletepost(id){
                if(confirm('seguro que desea eliminar')){
                    this.axios.delete(`http://localhost:8000/api/post/${id}`)
                    .then(response=>{
                        this.list()
                    })
                    .catch(error=>{
                        console.log(error)
                    })
                }
            }
        },
    }
</script>