<template>
  <div class="row">
    <div class="col-sm-6 col-lg-4 pb-4" v-for="post in posts" :key="post.id">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
          v-bind:src="`http://127.0.0.1:8000/storage/posts/`+post.image"
          alt=""
          class="card-img-top pb-2"
          style="border-radius: 10px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <!-- <p class="card-text">{{ post.description }}</p> -->
          <br>
          <a v-on:click.prevent="show(post.id)" class="btn btn-outline-primary"><i class="bi bi-eye"></i></a>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Modal -->
  <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
          <img
            v-bind:src="`http://127.0.0.1:8000/storage/posts/`+post.image"
            alt=""
            class="card-img-top pb-2"
            style="border-radius: 10px"
          />
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{ post.title }}
          </h1>
          <small>Descripcion:</small>
          <p class="card-text">
            {{ post.description }}
          </p>
        </div>
        <div class="modal-footer">
          <p class="card-text">Author: <small>{{ post.author.name}} {{ post.author.lastname}}</small></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "listpost",
  data() {
    return {
      posts: {},
      post: {
        author:{}
      },
    };
  },
  mounted() {
    this.list();
  },
  methods: {
    list() {
      this.axios
        .get("http://127.0.0.1:8000/api/post")
        .then((response) => {
          this.posts = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async show($id) {
      await this.axios
        .get(`http://127.0.1:8000/api/post/${$id}`)
        .then((response) => {
          this.post = response.data;
          const myModal = new bootstrap.Modal(
            document.getElementById("postModal")
          );
          myModal.show();
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
