<template>
  <div>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md shadow-sm">
      <div class="container">
        <div class="container-fluid">
          <router-link class="navbar-brand" to="/" exact-active-class="active">
            <img
              src="https://cdn-icons-png.flaticon.com/512/8591/8591123.png"
              alt="Logo"
              width="50"
              height="50"
              class="d-inline-block align-text-bottom"
            />
            <span style="font-size: 30px; font-family: cursive">Blog</span>
          </router-link>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left Side Of Navbar -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link
                class="nav-link active"
                aria-current="page"
                to="/"
                exact-active-class="active"
                >Public</router-link
              >
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">

            <li class="nav-item"></li>

            <li class="nav-item"></li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li>
                  <router-link
                    aria-current="page"
                    to="/admin/post"
                    class="dropdown-item"
                    >Post</router-link
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><router-link :to="{ name: 'indexauthor'}" class="dropdown-item" >Autor</router-link></li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
