<script setup>
import navcomponent from '/src/components/navComponent.vue';
</script>

<template>
  <main>
    <navcomponent></navcomponent>
    <br>
    <div class="container">
      <router-view></router-view>
    </div>
  </main>
</template>